<div id="home">
  <h1>השכונה שלי</h1>
  <h2>שיתוף חפצים לאנשים עייפים</h2>
  <div class="buttons">
    <%= link_to "הרשמה", new_registrations_path, class: 'homepage-button' %>
    <%= link_to "כניסה", new_sessions_path, class: 'homepage-button' %>
  </div>
  <p></p>
</div>
