// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { font-family: 'Heebo', sans-serif; }

html, body { padding: 0; margin: 0; direction: rtl; }

#home {
  background: url('/img/home.jpg') no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1, h2 { 
    color: white;
    font-weight: normal;
    margin: 10px; padding: 0;
  }

  h1 { 
    font-size: 48px;
  }

  h2 { 
    font-size: 36px;
  }

  .buttons {
    margin: 10px;
  }
}

.homepage-button {
  background: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  border: 1px solid;
  display: inline-block;
  padding: 10px;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 10px 20px;
  padding: 10px 80px;
  min-width: 240px;
}
